<h1>PCF Environment Information</h1>
<!-- We can use class/index as a namespace for each page so you can use naming conventions -->
<div class="env-info-site">
    <div class="intro">
        <p>This page will list environment information about the application running in PCF</p>
    </div>
    <div class="app">
        <p><%= @env_app %></p>
    </div>
    <div class="services">
        <p><%= @env_services %></p>
    </div>
</div>

