//The Style Sheet For the Home#Index Page
.home-index-site{
    display: grid;
    grid-template-columns: 0.25fr 0.5fr 0.5fr 0.25fr; 
    grid-template-rows: 0.25fr 0.5fr 0.5fr 0.5fr 0.5fr 0.25fr ;
    grid-template-areas: 
        "title title title title"
        "nbc nbc nbc ."
        ". plus plus ."
        "pivotal pivotal pivotal ."
        "intro intro intro intro"
        ". logoM logoR .";
}
.home-index-title-row{
    grid-area: title;
}

.home-index-nbc-logo{
    grid-area: nbc;
    justify-self: center;
}

.home-index-plus-sign{
    grid-area: plus;
    justify-self: center;
}

.home-index-pcf-logo{
    grid-area: pivotal;
    justify-self: center;
}

.home-index-intro{
    grid-area: intro;
}

.home-index-mysql{
    grid-area: logoM;
}

.home-index-redis{
    grid-area: logoR;
}